startmsf="sudo systemctl start postgresql.service & msfconsole --quiet -x \"db_connect ${USER}@msf\""

gdb='gdb -tui'
firefox='firefox --new-window'
sudo='sudo '
ls='ls --color=auto'
la='ls --color=auto --block-size=M -la'
xcopy="xclip -selection c"
xpaste="xclip -o"
wifimenu="sudo wifi-menu"
aux="ps aux | grep"
restart-emacs="pushd ~ ; while pkill emacs; do ; done && emacs --daemon ; popd >/dev/null"
linear="bash -c 'nohup google-chrome-stable --new-window ~/Documents/books/LinearAlgebra.pdf >/dev/null 2>/dev/null &' &"
ll='ls -lh'
la='ls -lah'
ec='emacsclient'
nix-shell="nix-shell --command zsh"
