#ignore vim undohistory
.vim/undo*
/#.zshrc#
/oh-my-zsh/
.config/FreeCad
/.config/.mono/
/config/FreeCAD/FreeCAD.conf
/config/.mono/keypairs/
config/MonoDevelop*
config/keepassx
/config/transmission/dht.dat
config/nvim
config/htop
/config/hub
config/fontforge
config/QDirStat
config/blender

config/.mono/
config/.tmux/
config/KeePass/
config/VirtualBox/
config/autostart/
config/cef_user_data/
config/chromium/
config/configstore/
config/configtemp
config/dconf/
config/enchant/
config/gconf/
config/google-chrome/
config/gtk-2.0/
config/gtk-3.0/
config/i3status/
config/libreoffice/
config/menus/
config/mimeapps.list
config/neofetch/
config/oh-my-zsh/
config/pudb/
config/pulse/
config/qutebrowser/
config/spotify/
config/steam/
config/sxhkd/log.txt
config/thefuck/
config/transmission/
config/unity3d/
config/QtProject.conf
/config/vlc/*
/config/Gitter/*
